* {
  margin: 0;
  padding: 0;
}

header {
  height: 150px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 100%;
}

.logo img{
  height: 150px;

}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  background-color: aquamarine;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    background-color: aquamarine;
    display: block;
}

  .nav-list {
    z-index: -1;
    position: fixed;
    top: 22vh;
    right: 0;
    width: 100%;
    height: 20vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
}
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}