* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.scroll1 {
  transform: translateX(700px);
  opacity: 0;
}
.scroll2 {
  transform: translateX(700px);
  display: none;
}

body {
  height: 100%;
  background-color: bisque;
}

.botao_flutuante {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #b0fc01;
}

.whatsapp svg{
  fill: #030f27;
  height: 30px;
  top: 2px;
  position: relative;
}

header {
  height: 150px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 100%;
}

.logo img{
  height: 150px;

}

a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  background-color: aquamarine;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

.menu-suspenso {
  z-index: 2;
  width: 100%;
  height: 100px;
  background-color: #030F27;
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.contato {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  fill: white;
  transition: .3s;
}

.teste {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 15px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  transition: .3s;
}

.menu-suspenso:hover .teste{
  color: greenyellow;
  transition: .3s;
  fill: greenyellow;
}

.menu-suspenso:hover .contato {
  transition: .3s;
  fill: greenyellow;
}

.banner_ea {
  width: 100%;
  height: 700px;
  position: relative;
}

.banner{
  width: 100%;
  height: 100%;
}

.banner img {
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  margin: auto;
  text-align: center;
  width: 80%;
  height: 300px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

.text {
  color: white;
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}

.text h4{
  font-size: 100px;
  font-weight: bolder;
}

.text p{
  font-size: 60px;
  font-weight: lighter;
}

.cta {
  font-weight: 500;
  margin: 20px auto;
  background-color: greenyellow;
  color: black;
  padding: 20px;
  width: 30%;
  font-size: 30px;
}

.verde {
  color: greenyellow;
}

.e-font-icon-svg {
  height: 70px;
}

.fundo {
  width: 100%;
  height: 260px;
}

.painel {
  background-color: white;
  width: 90%;
  height: 100%;
  margin: auto;
  display: block;
  box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.158);
}

.central {
  display: inline-flex;
  text-align: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.block {   
  width: 30%;
  height: 80%;
  display: inline-block;
}

.conteudo {
  display: inline-flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

#conteudo {
  border: 1px dotted black;
  border-width:0 1px 0 1px;
}

.icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  background-color: #030F27;
  width: 30%;
  height: 60%;
  border-radius: 100%;
  fill: white;
}

.texto2 {
  display: inline-block;
  text-align: left;
  width: 45%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
}

.texto2 span {
  display: block;
  font-size: larger;
  line-height: 1;
}

.texto2 p {
  display: block;
  font-weight: 100;
  font-size: larger;
}

.avo {
  text-align: center;
  margin: auto;
}

.pai {
  display: inline-block;
  margin: 10px 15px;
  width: 20%;
  height: 150px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
  transition: .9s;
  border-radius: 20px;
  position: relative;
}

.filho {
  width: 100%;
  height: 100%;
  filter: brightness(80%) sepia(100%) opacity(0.2);
  transition: .9s;
}

#bg1 {
  background-image: url(imagens/zona-oeste-sp-1024x574.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg2 {
  background-image: url(imagens/zona-norte.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg3 {
  background-image: url(imagens/zona-leste-sp-1024x574.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg4 {
  background-image: url(imagens/zona-sul-sp-1024x574.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg5 {
  background-image: url(imagens/centro-sp.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg6 {
  background-image: url(imagens/interior.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
#bg7 {
  background-image: url(imagens/litoral-1024x574.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}


.pai:hover .filho {
  transition: .9s;
  filter: none;
  transform: scale(1.1);
}

.texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green; /* Cor inicial do texto */
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: color 0.9s;
}

.pai:hover .texto {
  color: white;
}

@media (max-width: 750px){
  .pai {
      display: block;
      margin: 10px auto;
      width: 95%;
      height: 150px;
      overflow: hidden;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
      transition: .9s;
      border-radius: 20px;
      position: relative;
  }

  .logo {
      width: 50%;
      height: 100%;
  }

  .navegacao {
      display: none;
  }   

  .atendimento {
      display: none;
  }

  .banner_ea {
      width: 100%;
      height: 400px;
  }
  
  .banner{
      width: 100%;
      height: 100%;
  }
  
  .banner img {
      filter: brightness(50%);
      width: 100%;
      height: 100%;
  }
  

  .info {
      margin: auto;
      text-align: center;
      width: 100%;
      height: 100px;
      transform: translate(-50%,-50%);
      position: absolute;
      top: 40%;
      left: 50%;
  }
  
  .text {
      color: white;
      width: 100%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
  }
  
  .text h4{
      font-size:30px;
      font-weight: bolder;
  }
  
  .text p{
      font-size: 20px;
      font-weight: lighter;
  }
  
  .cta {
      font-weight: 500;
      margin: 10px auto;
      background-color: greenyellow;
      color: black;
      padding: 20px;
      width: 70%;
      font-size: 10px;
  }

  .fundo {
      bottom: 70px;
      width: 100%;
      height: 500px;
      position: relative;
  }

  .central {
      display: block;
      text-align: center;
      height: 40%;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: space-evenly;
      align-items: center;
  }

  .block {
      width: 100%;
      height: 80%;
      display: block;
  }

  .conteudo {
      display: inline-flex;
      width: 90%;
      height: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
  }

  #conteudo {
      border: 1px dotted black;
      border-width: 1px 0px 1px 0px;
  }
      
  .icon {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      justify-content: space-evenly;
      align-items: center;
      background-color: #030F27;
      width: 15%;
      height: 33%;
      border-radius: 100%;
      fill: white;
  }

  .e-font-icon-svg {
      height: 20px;
  }

  .texto2 {
      display: inline-block;
      text-align: left;
      width: 60%;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
  }
  
  .texto2 span {
      display: block;
      font-size: larger;
      line-height: 1;
  }
  
  .texto2 p {
      display: block;
      font-weight: 100;
      font-size: smaller;
  }

  footer {
      margin: 60px 0 0 0;
      background-color: rgb(20, 20, 66);
      color: white;
      text-align: center;
      width: 100%;
  }
  
  .rodape {
  
  }
  
  .logo2 img{
      width: 50%;
      height: 50%;
  }
  
  .contato2 h1 {
      margin: 20px 0;
      font-size: 15px;
  }
  
  .telef{
      margin: 20px 0;
  }
  .email{
      margin: 20px 0;
  }
  .endereco{
      margin: 20px 0;
  }
  
  .regioes h1 {
      font-size: 20px;
  }
  
  .regioes p {
      margin: 4px 0 0 0;
  }

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    background-color: aquamarine;
    display: block;
}

  .nav-list {
    z-index: -1;
    position: fixed;
    top: 148px;
    right: 0;
    width: 100%;
    height: 0%;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
}
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  height: 20%;
  transform: translateX(0);
  z-index: 4;
  position: absolute;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

body {
  height: 100%;
  background-color: bisque;
}

.container {
  text-align: center;
  margin: auto;
}

.section {
  width: 20%;
  display: inline-block;
}

.parent {
  display: inline-block;
  margin: 10px 15px;
  width: 80%;
  height: 150px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
  transition: .9s;
  border-radius: 20px;
  position: relative;
  background-color: #92c0a4;
}

.child {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: 0.9s;
}

#background1,
#background2,
#background3,
#background4 {
  background-image: url(HidroAlfa.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.section:hover .child {
  opacity: 1;
  transition: .9s;
  filter: none;
  transform: scale(1.1);
}

.content {
  color: green;
  font-size: 25px;
  font-weight: bold;
  transition: color 0.9s;
}

#moreInfo1,
#moreInfo2,
#moreInfo3,
#moreInfo4 {
  color: black;
  font-size: 15px;
  font-weight: lighter;
}

@media (max-width: 750px) {

  .section {
      width: 95%;
      display: block;
      margin: auto;
  }

  .parent {
      display: block;
      margin: 10px auto;
      width: 95%;
      height: 150px;
      overflow: hidden;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
      transition: .9s;
      border-radius: 20px;
      position: relative;
  }

  .logo {
      width: 50%;
      height: 100%;
  }

  .navegacao {
      display: none;
  }
}
